<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" title="Cerrar">&times;</span><span class="sr-only">Cerrar</span></button>
                <img src="" class="d-block imagepreview" style="max-width: 700px; display:block; margin: 0 auto;">
            </div>
        </div>
    </div>
</div>

<script>
        $(function () {
            $('.pop').on('click', function (event) {
                $('.imagepreview').attr('src', $(this).find('img').attr('src'));
                $('#imagemodal').modal('show');
                event.preventDefault();
            });
        });
</script>
